 
<ion-header>
  <ion-toolbar>
    <ion-title color="dark"> SISTEMA DE REGISTRO UNIVERSITARIO </ion-title>
  </ion-toolbar>
</ion-header><ion-content>

<ion-button size="large" color="success" shape="round" routerLink="/alert">Registro Estudiante</ion-button>
<ion-button size="large" color="success" shape="round" routerLink="/accion">Registro Docente</ion-button>

<ion-card>
  <ion-card-header>
    <ion-card-title>Examen 1er Parcial </ion-card-title>
    <ion-card-subtitle>Estudiante: Patrick Díaz B. </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    Proyecto en Ionic haciendo uso del componente Ion-input.
  </ion-card-content>
</ion-card>

<ion-img
  src="https://th.bing.com/th/id/R.af2eda376883e4d51b6e5f036f8ea559?rik=XABoKSSEJmg5sg&pid=ImgRaw&r=0"
  alt="The Wisconsin State Capitol building in Madison, WI at night"
></ion-img></ion-content>